body {
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
    gap: 30px; 
}
#game-container {
    text-align: center;
}
canvas {
    border: 4px solid #000;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    touch-action: none;
}
h1 { margin-bottom: 10px; }

#leaderboard {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #555;
    min-width: 250px;
    min-height: 400px;
}
#leaderboard h2 {
    margin-top: 0;
    border-bottom: 2px solid #555;
    padding-bottom: 10px;
    text-align: center;
}
.player-row {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 12px 0;
}
.is-me {
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
}

/* --- LE MENU D'ACCUEIL --- */
#start-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.95); /* Fond presque noir */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100; /* Passe au-dessus de tout le reste */
}
#start-menu h1 {
    font-size: 80px;
    color: white;
    margin-bottom: 40px;
    text-shadow: 0 0 20px rgba(255,255,255,0.5);
}
#pseudo-input {
    padding: 15px;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    text-align: center;
    margin-bottom: 20px;
    width: 300px;
}
#play-btn {
    padding: 15px 50px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    background-color: #ff4757;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
#play-btn:hover {
    background-color: #ff6b81;
    transform: scale(1.05); /* Petit effet de zoom quand on passe la souris */
}